/* colors */

:root {
  --white-t: #fefefe;
  --white-bg: #ffffff;
  --blue-bg: #f1f8ff;
  --gray-bg: #f6f6f6;
  --gray-t: #4f4f4f;
  --navbar-scroll: #355592;
  --black: #000;
  --orange: #ec9e1f;
  --blue: #335498;
  --blue-shadow: #8096bf;
}

/* text-colors */

.text-white {
  color: var(--white-t);
  z-index: 5;
}

.text-gray {
  color: var(--gray-t);
}

/* background colors */

.bg-white {
  background-color: var(--white-bg);
}

.bg-blue {
  background-color: var(--blue-bg);
}

.bg-gray {
  background-color: var(--gray-bg);
}

.bg-black {
  background-color: var(--black);
  opacity: 0.4;
}

/* buttons */

.btn-blue {
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--white-t);
}

.btn-blue:hover {
  background-color: var(--orange);
  color: var(--white-t);
}

.btn-orange {
  cursor: pointer;
  display: inline-block;
  border: none;
  border-radius: 5px;
  background-color: var(--orange);
  color: var(--white-t);
}

.btn-orange:hover {
  background-color: transparent;
  color: var(--white-t);
}

.btn-transparent {
  cursor: pointer;
  display: inline-block;
  border: var(--white-t);
  background-color: transparent;
  color: var(--white-t);
}

.btn-transparent:hover {
  background-color: var(--white-t);
  color: var(--black);
}

/* box */

.box-blue {
  width: 10rem; /* Kutu genişliği */
  height: 3rem;
  background-color: var(--blue);
  color: var(--white-t); /* Siyah yazı rengi */
  font-size: 1.5rem !important;
  font-weight: 700;
  text-shadow: 0.1rem 0.2rem 0 var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}
