@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* colors */

:root {
  --white-t: #fefefe;
  --white-bg: #ffffff;
  --blue-bg: #f1f8ff;
  --gray-bg: #f6f6f6;
  --gray-t: #4f4f4f;
  --navbar-scroll: #355592;
  --black: #000;
  --orange: #ec9e1f;
  --blue: #335498;
  --blue-shadow: #8096bf;
}

/* utils */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* header */
/* navigation bar */

.bg-image {
  background-image: url(../img/hero-man.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.logo img {
  width: 20rem;
  margin-left: 25rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40rem;
}

.menu li {
  display: inline-block;
  margin-left: 2rem;
}

.menu li a {
  font-size: 1.6rem;
  font-weight: 900;
  color: var(--white-t);
}

.menu li a:hover {
  background-color: var(--orange);
  color: var(--white-t);
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  transition: ease-out 0.3s;
}

.menu ul li button {
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--white-t);
  background-color: var(--orange);
  border-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
}

.menu ul li button:hover {
  cursor: pointer;
  padding: 1rem 2rem;
  transition: ease-out 0.3s;
}

/* header text area */

header .content {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: left;
  height: 100vh;
  text-align: left;
  color: var(--white-t);
  margin: 0 25rem;
}

header .content h1 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1rem;
  background-color: var(--blue);
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border-radius: 0.4rem;
  margin-top: 15rem;
  text-shadow: var(--black) 0.2rem 0.2rem 0.2rem;
}

header .content .big-title {
  font-size: 8rem;
  font-weight: 900;
  text-shadow: var(--black) 0.2rem 0.2rem 0.2rem;
}

header .content .header-info {
  font-size: 3rem;
  font-weight: 900;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem 2rem;
}

/* buttons */

.buttons {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.btn:hover {
  cursor: pointer;
  padding: 1.1rem 2.1rem;
  font-size: 2rem;
  transition: ease-in-out 0.3s;
}

.btn-blue {
  background-color: var(--blue);
  color: var(--white-t);
  border-color: transparent;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-weight: 900;
  margin-left: 2rem;
}

.btn-white {
  background-color: transparent;
  color: var(--white-t);
  border: var(--white-t) 0.1rem solid;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  font-weight: 900;
  margin-left: 5rem;
}

/* main */

/* 4 box side by side */

.bg-blue {
  background-color: var(--blue-bg);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25rem;
}

.container div {
  width: 24rem;
  height: 13rem;
  background-color: var(--white-bg);
  margin: 3.8rem 0;
  padding: 2.5rem 1rem;
  text-align: center;
}

.container div p {
  font-size: 2.2rem;
  font-weight: 900;
  color: var(--blue);
}

.container div .black-text {
  margin-top: 2rem;
  color: var(--black);
}

/* second part */

.bg-gray {
  background-color: var(--gray-bg); /* Arka plan rengi */
  right: 0;
  left: 0; /* Tam ekran genişliği */
  height: 100vh; /* Tam ekran yüksekliği */
  clip-path: polygon(39% 0, 100% 0%, 100% 100%, 52% 100%);
  position: absolute;
}

.classes {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 25rem;
}

.classes-header h2 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--blue);
  margin: 4rem 18rem 1rem 42rem;
}

.classes-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 25rem;
}

.underline-orange {
  display: inline-block;
  border-bottom: 0.8rem solid var(--orange);
  border-radius: 0.4rem;
  width: 8.5rem;
  margin: 0 14rem 4rem 49rem;
}

.classes-header p {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: var(--gray-t);
  margin: 0 20rem 3rem;
}

.class-content {
  display: none;
}

.class-content.active {
  display: block;
}

.button-container {
  margin: 1rem 1rem;
}

.tab-button {
  padding: 10px 15px;
  margin: 0 6rem;
  height: 4rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--blue);
  color: var(--white-t);
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
}

.tab-button.active {
  background-color: var(--orange);
  color: var(--white-t);
  position: relative;
}

.tab-button.active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid var(--orange);
}

.class-container {
  display: flex;
  flex-direction: row; /* Yatay sıralama */
  justify-content: space-between; /* Elemanlar arasına boşluk ekler */
  align-items: center; /* Dikeyde ortalar */
  width: 100rem; /* Konteyner genişliği */
  max-width: 100%; /* Genişlik sınırı */
  gap: 1rem;
  margin: 5rem;
}

.class-info {
  width: 50%; /* Yarı genişlik */
}

.class-info h3 {
  font-size: 2rem;
  color: var(--gray-t);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 900;
}

.class-info p {
  font-size: 1.6rem;
  color: var(--gray-t);
  line-height: 1.5;
  font-weight: 700;
  text-align: justify;
}

.class-img {
  width: 50%; /* Yarı genişlik */
  padding: 10px; /* İçerik etrafında boşluk */
  justify-content: center;
  align-items: center;
}

.class-img img {
  height: 35rem;
}

.times h3 {
  margin-top: 3rem;
}

.times p {
  line-height: 3;
}

/* BMI */

.bmi-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 80rem;
  margin: 0 25rem;
}

.bmi-info {
  width: 60%;
}

.bmi-info h3 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--blue);
  margin-bottom: 2rem;
}

.bmi-info p {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--gray-t);
  margin-bottom: 2rem;
  text-align: justify;
}

.bmi-inputs {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.bmi-inputs input {
  margin: 1rem 1.5rem;
  height: 3rem;
  border: 0.3rem solid var(--gray-t);
  border-radius: 0.4rem;
}

.scale-section {
  width: 40%;
}

.bmi-scale {
  position: relative; /* Üçgenin konumunu bu kapsayıcıya göre ayarlamak için */
}

#triangle {
  position: absolute;
  top: 100%; /* Resmin hemen altına yerleştirmek için */
  left: 50%; /* Başlangıçta ortada */
  transform: translateX(-50%); /* Ortalamak için */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid var(--orange); /* Üçgenin rengi */
  transition: left 0.5s ease-in-out; /* Hareket animasyonu */
}

/* Trainers */

.trainer-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 25rem;
}

.polygon-frame {
  position: absolute;
  background-color: var(--blue);
  clip-path: polygon(
    0% 15%,
    15% 15%,
    15% 0%,
    85% 0%,
    85% 15%,
    100% 15%,
    100% 85%,
    85% 85%,
    85% 100%,
    15% 100%,
    15% 85%,
    0% 85%
  );
  width: 25rem;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: visible;
}

.mini-polygon {
  position: relative;
  background-color: var(--blue);
  clip-path: polygon(
    0% 15%,
    15% 15%,
    15% 0%,
    85% 0%,
    85% 15%,
    100% 15%,
    100% 85%,
    85% 85%,
    85% 100%,
    15% 100%,
    15% 85%,
    0% 85%
  );
  width: 15rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.trainers-img:hover + .mini-polygon {
  opacity: 1; /* Görünür yap */
  visibility: visible; /* Görünür yap */
  z-index: 3;
}

.trainers-img {
  position: relative;
  z-index: 2;
  overflow: visible;
  width: 22rem;
  height: 32rem;
  border: 0.1rem solid var(--orange);
  border-radius: 1rem;
}

.mini-polygon h4 {
  color: var(--white-t);
  font-weight: 900;
  font-size: 1.5rem;
}

.mini-polygon p {
  color: var(--white-t);
  font-weight: 500;
  font-size: 1.2;
}

.container-purchase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25rem;
  gap: 2rem;
}

.purchase-box {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.purchase-box img {
  width: 25rem;
}
.purchase-box h4 {
  font-weight: 500;
  font-size: x-large;
  text-align: center;
}

.purchase-box p {
  font-weight: 900;
  font-size: medium;
  text-align: center;
  margin-left: 0.5rem;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.material-symbols-outlined {
  font-size: 1.5rem;
}

.add-to-cart:hover {
  cursor: pointer;
}
